# Propellerd Build
build
config.toml

# Rust
target/
**/*.rs.bk
*.pdb

# Zephyr
embed-proplet/.cache
embed-proplet/.west
embed-proplet/bootloader
embed-proplet/modules
embed-proplet/tools
embed-proplet/zephyr

.proplet_locks